<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Systém pre organizáciu Atl.Pretekov</title>
    <link th:rel="icon"
          th:href="@{/images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">

    <link th:rel="stylesheet" th:href="@{/css/maxcdnBootstrap.css}">
    <link th:rel="stylesheet" th:href="@{/css/sideMenu.css}">
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jbox.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/jbox.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dataTables/datatables.min.css}"/>
    <script type="text/javascript" th:src="@{/dataTables/datatables.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables_new.css}"/>
    <script th:src="@{/js/sideMenu.js}"></script>
    <script th:src="@{/js/athlete.js}"></script>


</head>
<body>

<div th:replace="~{fragments/navbar :: navigation}"> </div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/athletes">Pretekári</a>
    <a href="/clubs">Kluby</a>
    <a href="/databases">Stiahnuť databázu</a>
    <a href="/contact">Kontakt</a>
</div>

<!-- Use any element to open the sidenav -->

<main th:id="main">
    <div th:class="heading_t">
        <!-- aktivny pretek -->
        <div th:id="addAthlete" th:class="addRace">
            <a>
                <label style="color: blue" th:class="div-button">
                    <img alt="addAthlete" class="plus" th:src="@{/images/plus.png}">
                    Pridať atléta
                </label>
            </a>

        </div>
    </div>
    <hr>
    <table th:id="table">
        <thead>
        <tr th:id="first_tr" >
            <th>Meno</th>
            <th>Klub</th>
            <th>Dátum narodenia</th>
            <th>Detaily</th>
            <th>Zmazať</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="athlete: ${athletes}" >
            <td th:text="${athlete.getFirstName()}+' '+ ${athlete.getSurname()}"> </td>
            <td><span th:if="${clubTransfer.containsKey(athlete)}"><span th:text="${clubTransfer.get(athlete).club.clubName}"></span></span> </td>
            <td th:text="${athlete.returnBirth()}"> </td>
            <td><a th:href="@{/athletes/{id}(id=${athlete.getId()})} "  ><img  style="width: 35px; height: 35px" alt="active" class="activatedButton" th:src="@{/images/Settings-icon.png}"></a></td>
            <td><a th:value="${athlete.getId()}" class="deleteButton"  ><img  style="width: 35px; height: 35px" alt="active" class="activatedButton" th:src="@{/images/delete.png}"></a></td>
        </tr>
        </tbody>
    </table>
</main>

<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>
<div th:id="overlay"></div>


</body>
</html>