<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link th:rel="icon"
          th:href="@{/images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">
    <link th:rel="stylesheet" th:href="@{/css/table.css}">
    <link th:rel="stylesheet" th:href="@{/css/maxcdnBootstrap.css}">


    <link rel="stylesheet" th:href="@{/css/resultsApplications.css}">
    <script type="text/javascript" th:src="@{/js/ajaxJquerry.js}"></script>
    <script type="text/javascript" th:src="@{/js/jbox.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/jbox.css}">


    <link th:rel="stylesheet" th:href="@{/css/sideMenu.css}">
    <link th:rel="stylesheet" th:href="@{/css/login.css}">
    <script type="text/javascript" th:src="@{/js/login.js}"></script>




</head>
<body  style="background-color: #454a46">

<div th:replace="~{fragments/navbar :: navigation}"> </div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/athletes">Pretekári</a>
    <a href="/clubs">Kluby</a>
    <a href="/contact">Kontakt</a>
</div>

<main th:id="main">
    <div style="color: white" th:class="activeRace">
        <div>
            <div sec:authorize="isAuthenticated()">
                <h2>Vitajte <b><span sec:authentication="name">Username</span></b></h2>
                <i><span sec:authentication="principal.authorities">Roles</span></i>
            </div>
        </div>
    </div>
    <div th:class="heading_t">
        <!-- aktivny pretek -->


    </div>
    <hr>
    <div class="bg-img" >

    </div>

</main>
<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>

<div th:id="overlay"></div>


<script th:src="@{/js/sideMenu.js}"></script>
<script th:src="@{/js/cookies.js}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/tables_new.css}"/>

</body>
</html>