<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prihlášky</title>
    <link th:rel="icon"
          th:href="@{/images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">
    <link th:rel="stylesheet" th:href="@{/css/table.css}">
    <link th:rel="stylesheet" th:href="@{/css/maxcdnBootstrap.css}">


    <link rel="stylesheet" th:href="@{/css/resultsApplications.css}">
    <script type="text/javascript" th:src="@{/js/ajaxJquerry.js}"></script>
    <script type="text/javascript" th:src="@{/js/jbox.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/jbox.css}">

    <link th:rel="stylesheet" th:href="@{/css/sideMenu.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/dataTables/datatables.min.css}"/>
    <script type="text/javascript" th:src="@{/dataTables/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/euTime.js}"></script>



</head>
<body>

<div th:replace="~{fragments/navbar :: navigation}"> </div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/athletes">Pretekári</a>
    <a href="/clubs">Kluby</a>
    <a href="/contact">Kontakt</a>
</div>

<main th:id="main">
    <div th:class="activeRace">
        <a >
            <span class="hidden" th:if="${race.id!=null}">
                <span th:id="raceId" th:text="${race.id}"></span>
            </span>
            <div th:class="raceService"><span th:text="${race.raceName}"></span> - <span th:text="${race.place}"></span> - <span th:text="${race.returnStartDate()}"></span> - <span th:text="${race.returnEndDate()}"></span></div>
        </a>
    </div>
    <div th:class="heading_t">
        <!-- aktivny pretek -->
        <div  style="width: 20%" th:class="addRace">
            <a th:href="@{/spectator/races/app/{id}(id=${race.getId()})}" >
                <label style="color: blue" th:class="div-button">
                    Štartová listina
                </label>
            </a>
        </div>
        <div style="width: 20%" th:class="addRace">
            <a th:href="@{/spectator/races/res/{id}(id=${race.getId()})}" >
                <label style="color: blue" th:class="div-button">
                    Výsledková listina
                </label>
            </a>
        </div>

    </div>
    <hr>
    <div th:class="stuck">
        <table class=" asideTable " th:id="tableLeft" >
            <thead>
            <tr class="hidden">
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody >
            <tr th:id="${discipline.id+'aside'}"  th:each="discipline: ${disciplines}">
                <td th:class="hidden"  th:text="${discipline.id}"></td>
                <td style="width: 30%; color:#2B2D42 "  th:text="${discipline.disciplineTime}+' '+${discipline.category}"></td>
                <td style="width: 100%; " th:text="${discipline.disciplineName}+'  '+${discipline.phaseName}+' '+${discipline.phaseNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div  style="overflow:scroll;margin-left:15%; height:700px;">
        <div th:each="entry: ${startListMap}"  th:id="${entry.key.id}" th:with="list=${entry.value}" class="display hidden">
            <table class="rightTable"  style="width:75%!important;"  >
                <thead>
                <tr style="background-color: #0b5ea0; color: white;">
                    <th style="  padding-left:20px;" th:text="${entry.key.disciplineName +
                ',  '+entry.key.getDayMonth()+' - '+entry.key.disciplineTime+
                ', '+entry.key.phaseName+' - '+entry.key.phaseNumber}" colspan="4">
                    </th>
                    <th colspan="3">





                    </th>
                </tr>
                <tr>
                <span th:if="${entry.key.disciplineType=='run'}">
                     <th style="width: 5%">Line</th>
                </span>
                    <span th:if="${entry.key.disciplineType!='run'}">
                     <th class="hidden">Line</th>
                </span>
                    <th style="width: 10%">Bib</th>
                    <th>Meno</th>
                    <th>Dátum narodenia</th>
                    <th>Klub</th>
                    <th>Štart výkon</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="startList : ${entry.value}" >
                     <span th:if="${entry.key.disciplineType=='run'}">
                        <td  style="width: 5%" th:text="${startList.line}"></td>
                     </span>
                    <span th:if="${entry.key.disciplineType!='run'}">
                     <td class="hidden">Line</td>
                </span>
                    <td  style="width: 10%">
                        <span th:if="${#maps.containsKey(bibMap,startList.athlete)}">
                            <span  th:text="${bibMap.get(startList.athlete).bib}"></span>
                        </span>
                    </td>
                    </span>
                    <td th:value="${startList.id}" style="width: 20%" ><a  th:href="@{/spectator/athlete/{id}(id=${startList.athlete.id})}" ><span th:text="${startList.athlete.firstName +' '+startList.athlete.surname}" ></span></a></td>
                    <td style="width: 10%" th:text="${#dates.format(startList.athlete.getDateBirth(), 'dd.MM.yyyy')}"></td>
                    <td style="width: 20%">
                        <span th:if="${#maps.containsKey(clubs,startList.athlete)}">
                            <span  th:text="${clubs.get(startList.athlete).club.shortcutClubName}"></span><img th:src="${clubs.get(startList.athlete).club.getLogoImage()}"  style="margin-left: 10px; width: 70px;height: auto" alt="logo" />
                        </span>
                    </td>
                    <td style="width: 20%" ><span th:if="${startList.discipline.disciplineType=='run'}">
                        <span th:text="${startList.getTimeStartPerformance()}"></span>
                    </span>
                        <span th:if="${startList.discipline.disciplineType!='run'}" > <span th:text="${startList.startPerformance}"></span></span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</main>
<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>
<div th:id="overlay"></div>


<script th:src="@{/js/sideMenu.js}"></script>
<script th:src="@{/js/cookies.js}" type="text/javascript"></script>
<script th:src="@{/js/absoluteOrder.js}"></script>
<script th:src="@{/js/raceSpectator2.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/tables_new.css}"/>

</body>
</html>